* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 1px solid rebeccapurple;
}

body {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    border-radius: 10px;
    width: 80%;
}
